.design {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  max-height: 1080px;
}

.design .box {
  flex: 1 0 49%;
  max-width: 49%;
  position: relative;
  margin: 4px;
}

.design .box div {
  width: 100%;
  height: 100%;
}

.design .box div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.design .box p {
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  z-index: 3;
}

.design .box::before {
  content: '';
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .design .box {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .design .box p {
    font-size: 30px;
  }
}
