.checked {
    color:green;
    text-decoration:line-through;
}

header {
    display:flex;
    justify-content:center;
    margin-bottom:20px;
    padding:20px 0;
    font-family: Franklin Gothic Medium;
    font-size: 30px;
    background:rgba(107, 166, 184, 0.329);
    color:white;
    text-align: center;
}

* {
    padding:0;
    margin:0;
}

main{
    display:flex;
    justify-content:center;
    align-items: center;
    background:rgba(107, 166, 184, 0.329);;
    padding:20px;
    width: 300px;
    margin:0px auto;
    border-radius:50px;
    
}

#check{
    display:flex;
    align-items:center;
    color:white;
    width:30px;
    margin:0 auto;
    
}
body {
    background-color: #cccccc; 
    background-size:inherit;
    background-image: url("https://wallpaper.dog/large/17103594.jpg")
}

#check:hover {
    color:rgb(26, 213, 26);
    transition:0.3s;
    cursor:pointer;
    
}
input {
    margin: 10px 10px;
    width:200px;
    height:25px;
    border-radius: 5px;
}

label {
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    border-bottom: 1px solid green;
}

#elements {
    width: 200px;
}





